:root {
  --clr-bg: red; }

:root.dark {
  --clr-bg: green; }

body {
  background: #04A1BF;
  text-align: center;
  font-family: 'Open Sans', sans-serif; }

.intro {
  margin: 30px 0px;
  font-weight: bold; }

p {
  font-weight: 600; }

#enter {
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  color: #04A1BF;
  background-color: #025F70;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75 ease;
  font-weight: normal; }

#enter:hover {
  background-color: #02798F;
  color: #FFCD5D; }

ul {
  text-align: left;
  margin-top: 20px; }

@keyframes li-enter {
  from {
    transform: translateX(500px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

li {
  list-style: none;
  padding: 8px 10px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #025f70;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #4EB9CD;
  transition: all 0.75s ease-out;
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  -ms-transition: all 0.75s ease-out;
  -o-transition: all 0.75 ease-out;
  animation: 0.7s linear li-enter; }
  li.done {
    text-decoration: line-through; }
  li:hover {
    background: #76CFE0;
    margin-left: 30px;
    margin-right: -30px; }
  li > button {
    font-weight: normal;
    background: none;
    border: none;
    float: right;
    color: #025f70;
    font-weight: 800; }

input {
  border-radius: 5px;
  min-width: 65%;
  padding: 5px;
  border: none;
  height: 44px; }

.done {
  background: #51DF70 !important;
  color: #00891E; }
